In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from config import (user, password, host, port, database)

In [ ]:
from sqlalchemy import create_engine
engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{database}')
conn = engine.connect()

In [ ]:
departments = pd.read_sql_table("departments", con=engine)
employees = pd.read_sql_table("employees", con=engine)
dept_emp = pd.read_sql_table("dept_emp", con=engine)
dept_manager = pd.read_sql_table("dept_manager", con=engine)
salaries = pd.read_sql_table("salaries", con=engine)
titles = pd.read_sql_table("titles", con=engine)

In [ ]:
# #2 Create a histogram to visualize the most common salary ranges for employees

# create a list of salaries
x = salaries['salary'].tolist()

# create x_ticks and x_labels
x_ticks = np.arange(salaries['salary'].min(), salaries['salary'].max(), 10000)
x_labels = ["40-50", "50-60", "60-70", "70-80", "80-90", "90-100", "100-110", "110-120"]

# create bins
bins = len(x_ticks)

# plot the data
plt.hist(x, bins)

# add title and labels
plt.title("Most Common Salary Ranges for Employees")
plt.xlabel("Salary (in thousands of USD)")
plt.ylabel("Number of Employees")

# add xticks
plt.xticks(x_ticks, x_labels, rotation=25, horizontalalignment="left")

# display the plot
plt.show()

In [ ]:
# #3, Create a bar chart of average salary by title

# merge dataframes
titles_and_salaries = pd.merge(salaries,titles,on="emp_no")

# create groupby object
salary_by_title = titles_and_salaries["salary"].groupby(titles_and_salaries["title"]).mean()

# plot the data
salary_by_title.plot(kind='bar')
plt.xticks(rotation=30)

# add title and axis labels
plt.title("Average Salary by Job Title")
plt.xlabel("Title")
plt.ylabel("Salary (in USD)")

# display the plot
plt.show()